<ion-view view-title="Controlador">
  <ion-content>
    <div ng-show="showform">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="controlador.nombre" placeholder="{{controlador.nombre}}" ng-disabled="!loginData.admin">
      </label>

    </div>

    <div ng-show="error.status" class="error-message"> {{error.message}}</div>

    <div class="ok-message" ng-show="!showform">
      {{mensaje}}
    </div>

    <ion-list ng-show="showform">
      <label class="item item-input item-stacked-label">
        Luminarias
      </label>
      <ion-item ng-repeat="luminaria in luminarias">
        <div class="row">
          <a class="col href" ng-href="#/app/luminaries/{{luminaria.id}}">{{luminaria.nombre}}</a>
          <a class="col href" ng-href="#/app/luminaries/{{luminaria.id}}">{{luminaria.latitud}}</a>
          <a class="col href" ng-href="#/app/luminaries/{{luminaria.id}}">{{luminaria.longitud}}</a>
          <div class="button button-positive icon ion-trash-a" ng-click="delluminariar(luminaria)" ng-show="loginData.admin">
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div ng-show="showform">
      <div class="row grayonblack">Luminarias disponibles</div>
        <ion-list ng-repeat="item in availables">
          <ion-item>
            <a ng-click="addluminaria(item)" class="icon ion-plus-circled button-positive" ng-show="loginData.admin"></a>
              <span style="display:inline-block;">
                  <img  ng-src="{{'../img/'+ item.iconName +'.png'}}">({{item.nombre}})
                </span>
          </ion-item>
        </ion-list>

        <ion-item ng-show="showform">
          <a  ng-click="save()" class="button button-positive icon ion-checkmark" ng-show="loginData.admin">Guardar</a>
          <a  ng-click="cancel()" class="button button-dark  icon ion-close" ng-show="loginData.admin">Cancelar</a>
        </ion-item>
    </div>
    <ion-item align="center" ng-show="showformNav">
      <a class="ion-android-arrow-back" ng-click="loadMoreData('ant')"></a> Navegar
      <a class="ion-android-arrow-forward" ng-click="loadMoreData('sig')"></a>
    <ion-item>
  </ion-content>
</ion-view>
