<ion-view view-title="Datos Distrito">
  <ion-content>
    <div ng-show="showform">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="distrito.nombre" placeholder="{{distrito.nombre}}" ng-disabled="!loginData.admin">
      </label>
      <ion-item>
        <ion-label>Ubicacion</ion-label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Pais</span>
          <select ng-model="pais.selected" ng-disabled="NotSelected" ng-change="loadEstado(pais.selected);"
                  ng-options="pais.id as pais.nombre for pais in paises"></select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Estado</span>
          <select ng-model="estado.selected" ng-disabled="NotSelected"
                  ng-options="estado.id as estado.nombre for estado in estados" ng-change="loadCiudad(estado.selected)"></select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ciudad</span>
          <select ng-model="ciudad.selected" ng-disabled="NotSelected"
                  ng-options="ciudad.id as ciudad.nombre for ciudad in ciudades"></select>
        </label>
      </ion-item>
      <div class="row grayonblack">Concentradores</div>
        <ion-list ng-repeat="item in distrito.concentradores">
          <ion-item>
            <a ng-click="delSector(item)" class="icon ion-minus-circled button-clear" ng-show="loginData.admin"></a>
          <span style="display:inline-block;">
              <img  ng-src="{{'../img/'+ item.iconName +'.png'}}">({{item.nombre}}) {{item.luminarias.lenght}}
            </span>
          </ion-item>
        </ion-list>
    </div>

    <div class="row grayonblack">Concentradores disponibles</div>
     <ion-list ng-repeat="item in concentradores">
        <ion-item>
          <a ng-click="addSector(item)" class="icon ion-plus-circled button-positive" ng-show="loginData.admin"></a>
          <span style="display:inline-block;">
              <img  ng-src="{{'../img/'+ item.iconName +'.png'}}">({{item.nombre}})
            </span>
        </ion-item>
     </ion-list>

    <ion-item>
      <a  ng-click="save()" class="button button-positive icon ion-checkmark" ng-show="loginData.admin">Guardar</a>
      <a  ng-click="cancel()" class="button button-dark  icon ion-close" ng-show="loginData.admin">Cancelar</a>
    </ion-item>
    </div>

    <div ng-show="error.status" class="error-message"> {{error.message}}</div>

    <div class="ok-message" ng-show="!showform">
        {{mensaje}}
    </div>
  </ion-content>

</ion-view>
