<ion-view view-title="Puntos de Luz">
  <ion-content>

    <ion-item href="#/app/pdl/new" ng-show="loginData.admin">
      <span class="button button-positive icon ion-plus" > Nuevo </span>
    </ion-item>

    <div class="ok-message"> {{mensaje}} </div>
    <div ng-show="error.status" class="error-message"> {{error.message}}</div>

    <div class="row grayonblack">
      <div class="col">Nombre</div>
      <div class="col">Latitud</div>
      <div class="col">Longitud</div>
    </div>
    <ion-list>
        <ion-item ng-repeat="pdl in puntos">
          <div class="row">
            <a class="col href" ng-href="#/app/pdl/{{pdl.id}}">{{pdl.nombre}}</a>
            <a class="col href" ng-href="#/app/pdl/{{pdl.id}}">{{pdl.latitud}}</a>
            <a class="col href" ng-href="#/app/pdl/{{pdl.id}}">{{pdl.longitud}}</a>
            <div class="button button-positive icon ion-trash-a" ng-click="del(pdl)" ng-show="loginData.admin">
            </div>
          </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      distance="3%"
      icon="ion-loading-c"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
